.loyer__fon {
  background: url(../img/fon-photo.png) no-repeat;
  background-size: 100%;
  min-height: 1075px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loyer__container {
  width: 900px;
  margin: 0 auto;
  position: absolute;
}
.loyer__img {
  padding-top: 14px;
  width: 70px;
  margin: 0 auto;
  padding-top: 50px;
}
.loyer__name {
  margin: 0 auto;
  padding-top: 30px;
  color: #fff;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-size: 54px;
  text-transform: uppercase;
}
.loyer__text {
  font-size: 15px;
  padding-top: 14px;
  width: 45%;
  margin: 0 auto;
  padding-top: 30px;
  font-family: "Lato", sans-serif;
  color: #fff;
  line-height: 29px;
  text-align: center;
}
.loyer__imgdown {
  margin: 0 auto;
  width: 50px;
  padding-top: 150px;
  padding-bottom: 90px;
  
}
